
*.plist

GeoLocation.xcodeproj/xcuserdata/shyamsundarb.xcuserdatad/xcschemes/GeoLocation.xcscheme

*.json

GeoLocation/Images.xcassets/AppIcon.appiconset/Contents.json

GeoLocation/Images.xcassets/AppIcon.appiconset/Contents.json
